.float_left {
	float: left;
}

.float_right {
	float: right;
}

.col62 {
	width: 62%;
}

.col28 {
	width: 28%;
}

.MainContentBox {
	height: 550px;
}

.iframe {
	width: 900px;
	height: 500px;
}

.MainContentDescription {
	padding-left: 15px;
	height: 540px;
	margin-left: 20px;
	background-color: rgba(168, 167, 167, 0.4);
	color: lightgray;
	border: 2px rgb(41, 39, 43) solid;
	text-align: center;
	border-radius: 10px;
	font-size: 0.83em;
	cursor: pointer;
}

.margin_right {
	margin-right: 10px;
}

.addMyCate {
	width: 200px;
	height: 40px;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 7px;
	color: whitesmoke;
	background-color: rgb(162, 163, 166);
	border: none;
}
