.MainCategory {
	background-color: whitesmoke;
	border: 1px solid black;
	width: 230px;
	height: 400px;
	margin-bottom: 20px;
	text-align: center;
}

.main-category-entry-button {
	margin-top: 20px;
	width: 227px;
	height: 35px;
	font-size: 0.83em;
	cursor: pointer;
	border-radius: 5px;
}

/* h3 {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
} */
