.UserCategory {
	background-color: rgba(168, 167, 167, 0.4);
	color: lightgray;
	/* border: 1px solid black; */
	width: 230px;
	height: 400px;
	text-align: center;
	border-radius: 10px;
	font-size: 0.83em;
	cursor: pointer;
	/* background-color: rgb(61, 57, 64); */
	border: 2px rgb(41, 39, 43) solid;
}

.UserCategory-title {
	font-size: 1.45em;
}

.bottom-position {
	position: absolute;
	top: 830px;
	left: 105px;
	/* background-color: rgb(168, 165, 165); */
}

.buttonSize {
	margin: 2px;
	width: 80px;
	height: 35px;
	font-size: 1.2em;
	cursor: pointer;
	border: 2px rgba(43, 42, 42, 0.8) solid;
	border-radius: 5px;
	background-color: rgb(51, 50, 50, 0.8);
	color: lightgray;
	text-align: center;
}

.user-category-entry-button {
	width: 227px;
	height: 35px;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 5px;
}

.category-name-input {
	width: 280px;
	height: 35px;
}

.modal-button {
	margin: 5px;
	width: 60px;
	height: 30px;
}

.category-select-box {
	margin-top: 10px;
	font-size: 1em;
	width: 300px;
	height: 30px;
}

.add-button-in-modal {
	width: 70px;
	height: 35px;
	font-size: 1.2em;
	margin-left: 160px;
	border-radius: 5px;
}

.close-button-in-modal {
	width: 70px;
	height: 35px;
	font-size: 1.2em;
	margin-top: 30px;
	border-radius: 5px;
}

.modal-title {
	margin-top: 5px;
}

.alert-in-modal {
	color: red;
	margin-top: 31.72px;
	margin-bottom: 5.72px;
}
