.col15 {
	width: 15%;
	padding-left: 50px;
	padding-top: 40px;
}

.float_left {
	float: left;
}

.col80 {
	width: 80%;
}

.logout_button {
	position: absolute;
	top: 70px;
	left: 1546px;
	width: 110px;
	height: 35px;
	font-size: 1.2em;
}

.height100 {
	height: 100px;
}
