.col15 {
	width: 15%;
	padding-left: 50px;
	padding-top: 40px;
	/* background-color: rgba(245, 205, 247, 0.2); */
}

.float_left {
	float: left;
}

.col80 {
	width: 80%;
	/* background-color: rgba(156, 86, 209, 0.2); */
}

.logout_button {
	position: absolute;
	top: 50px;
	left: 1545px;
	width: 110px;
	height: 35px;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5px;
	font-family: 'Noto Sans KR', sans-serif;
}

.login_button {
	position: absolute;
	top: 50px;
	left: 1430px;
	width: 110px;
	height: 35px;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5px;
	font-family: 'Noto Sans KR', sans-serif;
}

.height100 {
	height: 100px;
}

.search-input {
	width: 600px;
	height: 40px;
	position: absolute;
	top: 50px;
	left: 400px;
	font-size: 1em;
	padding-left: 10px;
	background-color: rgb(61, 57, 64);
	border: 3px rgb(41, 39, 43) solid;
	font-family: 'Noto Sans KR', sans-serif;
}

.search-button {
	width: 65px;
	height: 48px;
	position: absolute;
	top: 50px;
	left: 1018px;
	font-size: 1.2em;
	cursor: pointer;
	background-color: rgb(76, 58, 89);
	border: 2px rgb(41, 39, 43) solid;
	color: lightgray;
	font-family: 'Noto Sans KR', sans-serif;
}
