body {
	margin-left: 1%;
}

.signup-page-title {
	margin: 100px 0 30px 0;
	color: white;
}

.signup-table {
	/* border: 1px solid #bcbcbc; */
	width: 450px;
	height: 180px;
	table-layout: fixed;
	font-size: 12pt;
	margin-bottom: 30px;
}

.signup-tb-left {
	/* border: 1px solid #bcbcbc; */
	width: 20%;
	font: 8px;
	color: white;
}

.signup-tb-right {
	/* border: 1px solid #bcbcbc; */
	width: 80%;
}

td {
	/* border: 1px solid #bcbcbc; */
	width: 400px;
}

.signup-input-box {
	width: 98%;
	height: 70%;
}

.signup-submit-button {
	width: 80px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 1em;
}
.table-right-submit {
	text-align: right;
}

.signup-input-box {
	height: 25px;
}

.invalid-feedback {
	color: red;
}

.signup-page-title {
	color: white;
	margin-top: 50px;
}

.signup-box {
	border: 1px solid black;
	width: 550px;
	height: 500px;
}

.signup-container {
	position: relative;
	top: 100px;
}
